Repository strategickhaos-dao-llc/Sovereignty-Architecture-Elevator-Pitch-RedTeam: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, require-disclaimer, require-checklist, require-gpg

check-local-paths:
  name: Check for Local File Paths
  entry: hooks/check-local-paths.sh
  language: script
  stages:
  - commit

require-disclaimer:
  name: Require Disclaimer
  entry: hooks/require_disclaimer.sh
  language: script

require-checklist:
  name: Require Checklist
  entry: hooks/require_checklist.py
  language: script

require-gpg:
  name: Require GPG Signature
  entry: hooks/require_gpg.sh
  language: script

Add initial devcontainer configuration
  .devcontainer/devcontainer.json
Due: check-local-paths, require-disclaimer

Add DreamWeaverAgent configuration file
  .github/agents/DreamWeaver.my-agent.agent.md
Due: check-local-paths, require-disclaimer

Create proof dossier for StrategicKhaos project
  .github/agents/Proof.my-agent.agent.md
Due: check-local-paths, require-disclaimer

Create Deploy in Sandbox and main
  Deploy in Sandbox and main
Due: none

Review by lawyer
  Review by later V2.0 claud.md
Due: check-local-paths, require-disclaimer

see if we can evolve my loves
  # 🔥 FLAMELANG ARTIFACT ANALYSIS CO.txt
  CLAIM_VERIFICATION_2025(1).md
  CLAIM_VERIFICATION_2025(1).md.gpg
  CLAIM_VERIFICATION_2025.md
  CYBER-PSY-620_syllabus.md
  CYBER-PSY-620_syllabus.md.gpg
  CYBER-PSY-620_syllabus_Version2(1).md
  CYBER-PSY-620_syllabus_Version2.md
  DOJO_BATTLECRY.md
  DOJO_BATTLECRY.md.gpg
  FLAMELANG_SPECIFICATION.md
  SWARM_DNA_CLAIM_VERIFICATION.md
  SWARM_DNA_CLAIM_VERIFICATION.md.gpg
  SWARM_DNA_v10.0-primordial-tongues_Version2.yaml
  SWARM_DNA_v10.0-primordial-tongues_Version2.yaml.gpg
  SWARM_DNA_v12.0-born-from-the-womb_Version2.yaml
  SWARM_DNA_v9.0-black-hole-resonance_Version2(1).yaml
  SWARM_DNA_v9.0-black-hole-resonance_Version2(1).yaml.gpg
  SWARM_DNA_v9.0-black-hole-resonance_Version2.yaml
  SWARM_DNA_v9.0-black-hole-resonance_Version2.yaml.gpg
  provisional-patent-draft.md
Due: check-local-paths, require-disclaimer

Add unified architecture document for Strategickhaos
  Current Evolution122625
Due: none

Keep the dream rolling
  RATIO_EX_NIHILO_CONSTITUTION_V1.PDF
Due: none

Create proof Doceir Experiment
  proof Doceir Experiment 
Due: none

Create documentation for Sovereignty Completer Agent
  .github/agents/aetherforge-completer.agent.md
Due: check-local-paths, require-disclaimer

Add AetherForge v0.1 documentation
  .github/agents/aetherforge-completer.agentRedTeam_BlueTeam_PurpleTeamFrequency.md
Due: check-local-paths, require-disclaimer

🔥 Add overnight autonomous evolution workflow + GKE health
  .github/workflows/overnight.yml
Due: check-local-paths

🔧 Fix GKE cluster config: jarvis-swarm-personal-001 in us-central1
  .github/workflows/overnight.yml
Due: check-local-paths

Fix invalid filename blocking Windows clones
  discord-config
Due: none

🔒 Add Workload Identity migration plan - eliminate long-lived keys
  infra/workload-identity-migration.md
Due: check-local-paths, require-disclaimer

🔒 Switch to Workload Identity - 100% keyless authentication
  .github/workflows/overnight.yml
Due: check-local-paths

Path conditions:
  check-local-paths: any of: \.(md|txt|yaml|yml|json|sh|py|js|ts|env|conf|config|toml)$
  require-disclaimer: any of: \.(md|yaml|json|txt)$
  require-checklist: any of: upl_safe_30_checklist\.md$
  require-gpg: any of: \.(asc|sig)$
